@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <h2>NP1 - Programação Orientada a Objetos - CRUD Cadastro de Contatos</h2>
    <p>Leonardo de Lira Siqueira - N0429C0</p>
    <p>Análise e Desenvolvimento de Sistemas - Noturno</p>
    <p>Tecnologias Utilizadas - ASP.NET + Entity Framework</p>
</div>
